<div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>填写需求</h5>
    </div>
    <div class="ibox-content">
      <%= form_with(model: campaign, local: true,class:'form-horizontal') do |form| %>
        <% if campaign.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

            <ul>
            <% campaign.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
 
  <div class="form-group">
                        <label class="col-sm-2 control-label">所属行业</label>
                        <div class="col-sm-10">
                            <% @categories.each_with_index do |category,i| %>
                           <%= form.radio_button(:industry, 
                           category.id)%> <%=category.name%>
                      <%end%>
                        </div>
                        
                      </div>
                      <div class="hr-line-dashed"></div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label">合作类型</label>
                        <div class="col-sm-10">
                           <% @categories_mode.each_with_index do |category,i| %>
                           <%= form.radio_button(:collaboration_mode, 
                           category.id)%> <%=category.name%>
                      <%end%>
                         
                        </div>
                      </div>
                      <div class="hr-line-dashed"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">项目名称</label>
          <div class="col-sm-10">
            <%= form.text_field :name,class:'form-control',placeholder:'10个字以内' %>
            <span class="help-block m-b-none small">
            如：西门子自清洁油烟机、唯品会319活动节、天猫双十一活动...
            </span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">关键信息</label>
          <div class="col-sm-10">
            <%= form.text_field :description,class:'form-control',placeholder:'20个字以内' %>
            <span class="help-block m-b-none small">
            如：“一件8折，两件7折”、“四大定律......” 、企业/活动口号、“VR看房”
            </span>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">投放日期</label>
          <div class="col-sm-10">
            <%= form.date_select :start,start_year: 2018, use_month_numbers: true%>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">投放预算</label>
          <div class="col-sm-10">
            <%= form.text_field :budget,class:'form-control',placeholder:'' %>
             
          </div>
        </div>
    
         <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">上传附件</label>
                        <div class="col-sm-10">
                          <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                              <i class="glyphicon glyphicon-file fileinput-exists"></i>
                              <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                              <span class="fileinput-new">选择附件</span>
                              <span class="fileinput-exists">修改</span>
                              
                               <%= form.file_field :attachment %>
                            </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">删除</a>
                          </div>
                        </div>
                      </div>
        <div class="hr-line-dashed"></div>
         <%= form.hidden_field :user_id,value:"1"%>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <%= form.submit '下一步',class:'btn btn-primary' %>
            <button class="btn btn-white" type="submit">取消</button>
          </div>
        </div>

      <% end %>
    </div>
</div>